{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Create new Article</h1>

    {{ include('article_crud/_form.html.twig') }}

    <a href="{{ path('app_article_crud_index') }}">back to list</a>
{% endblock %}
